.contenedor-tabla{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    padding: 10px;
    width: 70%;
}

#equipo h2{
    color: rgb(32, 32, 32);
    padding: 10px;
}

th{
    color: rgb(32, 32, 32);
    padding: 10px;
}