.contenedor-tabla{
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: auto;

    padding: 10px;

    justify-content: center;
    align-items: center;
}

#equipo h2{
    color: rgb(32, 32, 32);
    padding: 10px;
}

th{
    color: rgb(32, 32, 32);
    padding: 10px;
}

/* MQ MOBILE */
@media (max-width: 687px) {
    
}

/* MQ TABLET */
@media (min-width: 688px) and (max-width: 992px) {
  
}

/* MQ PC */
@media (min-width: 993px) {
  
}

/* MQ XL screens */
@media (min-width: 1312px) {
    
}