<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contacto | Nexto Market</title>
    <!-- estilos -->
    <link rel="stylesheet" th:href="@{/styles/frontoffice/nav.css}" />
    <link rel="stylesheet" th:href="@{/styles/frontoffice/reset.css}" />
    <link rel="stylesheet" th:href="@{/styles/frontoffice/contacto.css}" />
    <!--fonts-->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <!--HEADER-->

    <header>
      <div class="nombre-empresa">
        <h1>NEXTO MARKET</h1>
      </div>
      <nav class="menu-nav">
        <a href="home">Home</a>
        <a href="proyectos">Proyectos</a>
        <a href="equipo">Equipo</a>
        <a href="trabaja">Trabaja con nosotros</a>
        <a href="contacto">Contacto</a>
      </nav>
    </header>

    <!--FORMULARIO CONTACTO-->

    <section id="contacto">
      <form
        th:action="@{/mensajes/create}"
        method="post"
        th:object="${mensaje}"
      >
        <div class="contenedor">
          <div class="contenedor-interior">
            <label for="nombre">Nombre</label>
            <input
              type="text"
              name="nombre"
              required
            />
          </div>
          <div class="contenedor-interior">
            <label for="subject">Asunto</label>
            <input
              type="text"
              name="subject"
              th:field="*{subject}"
              required
            />
          </div>
          <div class="contenedor-interior">
            <label for="from">Email</label>
            <input
              type="email"
              name="from"
              th:field="*{from}"
              required
            />
          </div>

          <div class="contenedor-interior">
            <label for="mensaje">Mensaje</label>
            <textarea
              name="mensaje"
              cols="30"
              rows="10"
              th:field="*{mensaje}"
              required
            ></textarea>
          </div>
          <button type="submit">Enviar</button>
        </div>
      </form>
    </section>

    <footer>
      <div class="copyright">
        <p>Copyright &copy; 2021 NextoMarket. All rights reserved.</p>
      </div>
    </footer>
  </body>
</html>
