<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Proyectos | Nexto Market</title>
    <!-- estilos -->
    <link rel="stylesheet" th:href="@{/styles/frontoffice/reset.css}" />
    <link rel="stylesheet" th:href="@{/styles/frontoffice/nav.css}" />
    <link
      rel="stylesheet"
      th:href="@{/styles/frontoffice/proyectos_y_equipo.css}"
    />
    <!--fonts-->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <!--HEADER-->

    <header>
      <div class="nombre-empresa">
        <h1>NEXTO MARKET</h1>
      </div>
      <nav class="menu-nav">
        <a href="/home">Home</a>
        <a href="/proyectos">Proyectos</a>
        <a href="/equipo">Equipo</a>
        <a href="/trabaja">Trabaja con nosotros</a>
        <a href="/contacto">Contacto</a>
      </nav>
    </header>

    <!--PROYECTOS-->

    <section class="contenido">
      <h2>PROYECTOS</h2>

      <div class="filtro">
        <div class="filtro-contenido">
          <form
            method="get"
            th:action="@{/proyectos/cliente}"
            th:object="${cliente}"
          >
            <label for="cliente">Empresa cliente:</label>
            <select name="cliente" class="form-control" th:field="*{idcliente}">
              <option th:value="0" th:text="Todos"></option>
              <option
                th:each="c:${clientes}"
                th:value="${c.idcliente}"
                th:text="${c.nombre}"
              ></option>
            </select>
            <input type="submit" value="Filtrar" />
          </form>
        </div>
      </div>

      <div class="contenedor" th:each="proyecto: ${proyectos}">
        <div class="contenedor-imagen">
          <img
            th:src="${proyecto.imagen}"
            width="150px"
            th:alt="${proyecto.proyecto}"
          />
        </div>
        <div class="contenedor-descripcion">
          <p id="titulo-proyecto" th:text="${proyecto.proyecto}" />
          <p class="destacado" th:text="${proyecto.cliente.nombre}" />
          <p th:text="${proyecto.descripcion}" />
        </div>
      </div>

      <footer>
        <div class="copyright">
          <p>Copyright &copy; 2021 NextoMarket. All rights reserved.</p>
        </div>
      </footer>
    </section>
  </body>
</html>
