<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel de administración</title>
    <!-- estilos -->
    <link rel="stylesheet" th:href="@{/styles/back-office.css}">
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu&display=swap" rel="stylesheet">
</head>

<body>

    <header>
        <h1>Panel de administración</h1>
    </header>

    <nav>
        <ul>
            <li><a href="admin">Inicio</a></li>
            <li><a href="adminproyectos">Gestión de Proyectos</a></li>
            <li><a href="adminequipo">Gestión de Equipo</a></li>
        </ul>
    </nav>

    <section id="inicio">

        <h2><a href="adminproyectos">Gestión de Proyectos</a></h2>

        <h2><a href="adminequipo">Gestión de Equipo</a></h2>

    </section>

</body>

</html>