<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión de Equipo</title>
    <!-- estilos -->
    <link rel="stylesheet" href="../static/styles/back-office.css">
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu&display=swap" rel="stylesheet">
</head>
<body>

    <header>
        <h2>Gestión de Equipo</h2>
    </header>

    <section class="tabla">

        <h3>Listado</h3>

        <table>

            <tr>
                <th>Nombre</th>
                <th>Apellidos</th>
                <th>Resumen</th>
                <th>Foto</th>
                <th>Cargo</th>
                <th>Acciones</th>
            </tr>

            <tr th:each="persona: ${listarPersonas}">

                <td th:text="${persona.nombre}" />
                <td th:text="${persona.apellidos}" />
                <td th:text="${persona.resumen}" />
                <td th:text="${persona.foto}" />
                <td th:text="${persona.cargo}" />
                <td>
                    <a href="#">Modificar</a>
                    <a th:href="@{/eliminarpersona/{idpersona}(idpersona=${persona.idpersona})}">Eliminar</a>
                </td>

            </tr>

        </table>

        <a href="equipoAddNuevo">Añadir nuevo registro</a>

    </section>
    
</body>
</html>