<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Añadir nuevo integrante</title>
    <!-- estilos -->
    <link rel="stylesheet" href="../static/styles/back-office.css">
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu&display=swap" rel="stylesheet">
</head>

<body>

    <header>
        <h2>Añadir una nueva persona</h2>
    </header>

    <nav>
        <ul>
            <li><a href="admin">Inicio</a></li>
            <li><a href="adminproyectos">Gestión de Proyectos</a></li>
            <li><a href="adminequipo">Gestión de Equipo</a></li>
        </ul>
    </nav>

    <section class="formulario">
        <!--
        <form th:action="@{/addpersona}" method="post" th:object="${persona}">

            <p>
                <label for="nombre">Nombre:</label>
                <input type="text" name="nombre" th:field="*{nombre}" required>
            </p>

            <p>
                <label for="apellidos"> Apellidos: </label>
                <input type="text" name="apellidos" th:field="*{apellidos}" required>
            </p>

            <p>
                <label for="resumen"> Resumen: </label>
                <input type="text" name="resumen" th:field="*{resumen}" required>
            </p>

            <p>
                <label for="equipoimagen">Elija imagen:</label>

                <select name="equipoimagen" th:field="*{foto}" required>
                    <option value="http://.....Edu">Eduardo de la Cruz</option>
                    <option value="http://.....Raul">Raúl Fernández</option>
                    <option value="http://.....Maria">María Infantes</option>
                    <option value="http://.....Andrei">Andrei Gherman</option>
                    <option value="http://.....Miguel">Miguel Ángel Domínguez</option>
                </select>
            </p>

            <p>
                <label for="cargo">Elija cargo:</label>
                <select name="cargo" th:field="*{cargo}" required>
                    <option th:value="${cargo.cargo}">CEO</option>
                </select>
            </p>

            <p>
                Cargo: <input type="text" name="cargo" required>
            </p>-->

        <p><input type="submit" value="Guardar" /></p>

        </form>

    </section>

</body>

</html>