<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Añadir nuevo integrante</title>
    <!-- estilos -->
    <link rel="stylesheet" href="../static/styles/reset.css">
    <link rel="stylesheet" href="../static/styles/nav.css">
    <link rel="stylesheet" href="../static/styles/equipo.css">
</head>

<body>


    <section>
        <p>Rellena los siguientes campos para guardar un nuevo miembro del equipo:</p>


    </section>

    <section class="formulario">
        <form action="" method="POST">
            <p>Nombre: <input type="text" name="nombre" required></p>
            <p>Apellidos: <input type="text" name="apellidos" required></p>
            <p>Resumen: <input type="text" name="resumen" required></p>
            <p><label for="equipoimagen">Elija imagen:</label>
                <select name="equipoimagen">
                    <option value="http://.....Edu">Eduardo de la Cruz</option>
                    <option value="http://.....Raul">Raúl Fernández</option>
                    <option value="http://.....Maria">María Infantes</option>
                    <option value="http://.....Andrei">Andrei Gherman</option>
                    <option value="http://.....Miguel">Miguel Ángel Domínguez</option>
                </select></p>
            <p>Cargo: <input type="text" name="cargo" required></p>

            <p><input type="submit" value="Guardar"></p>

        </form>

    </section>

</body>

</html>