<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Equipo | Nexto Market</title>
    <!-- estilos -->
    <link rel="stylesheet" href="../static/styles/reset.css">
    <link rel="stylesheet" href="../static/styles/nav.css">
    <link rel="stylesheet" href="../static/styles/equipo.css">
</head>
<body>

    <nav>
        <ul>
            <li><a href="home.html">Home</a></li>
            <li><a href="proyectos">Proyectos</a></li>
            <li><a href="equipo" class="actual">Equipo</a></li>
            <li><a href="contacto.html">Contacto</a></li>
        </ul>
    </nav>

    <h2>Equipo</h2>

    <section id="equipo">


        <table>

            <tr>
                <th>Nombre</th>
                <th>Apellidos</th>
                <th>Resumen</th>
                <th>Foto</th>
                <th>Cargo</th>
            </tr>

            <tr th:each="persona: ${listarPersonas}">

                <td th:text="${persona.nombre}" />
                <td th:text="${persona.apellidos}" />
                <td th:text="${persona.resumen}" />
                <td th:text="${persona.foto}" />
                <td th:text="${persona.cargo}" />

            </tr>

        </table>        
        <!--<div>
            <p text="${equipo.nombre}" />
            <p text="${equipo.fechafin}" />
            <p text="${equipo.apellidos}" />
            <p text="${equipo.resumen}" />
            <img th:src="${equipo.foto}"/ th:alt="${equipo.nombre}"/>
            <p text="${cargos.cargo}" />
        </div>-->

    </section>
    
</body>
</html>