<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Equipo | Nexto Market</title>
    <!-- estilos -->
    <link rel="stylesheet" href="../static/styles/reset.css">
    <link rel="stylesheet" href="../static/styles/nav.css">
    <link rel="stylesheet" href="../static/styles/equipo.css">
</head>

<body>

    <nav class="menu-nav">
        <a href="home.html">Home</a>
        <a href="proyectos">Proyectos</a>
        <a href="equipo" class="actual">Equipo</a>
        <a href="contacto.html">Contacto</a>
    </nav>



    <section id="equipo" class="contenedor-tabla">

        <h2>Equipo</h2>

        <table>

            <tr>
                <th>Nombre</th>
                <th>Apellidos</th>
                <th>Resumen</th>
                <th>Foto</th>
                <th>Cargo</th>
            </tr>

            <tr th:each="persona: ${listarPersonas}">

                <td th:text="${persona.nombre}" />
                <td th:text="${persona.apellidos}" />
                <td th:text="${persona.resumen}" />
                <td th:text="${persona.foto}" />
                <td th:text="${persona.cargo}" />

            </tr>



        </table>
        <!--<div>
            <p text="${equipo.nombre}" />
            <p text="${equipo.fechafin}" />
            <p text="${equipo.apellidos}" />
            <p text="${equipo.resumen}" />
            <img th:src="${equipo.foto}"/ th:alt="${equipo.nombre}"/>
            <p text="${cargos.cargo}" />
        </div>-->

        <a class="boton" href="equipoAddNuevo.html">Añadir nueva persona</a>


    </section>

</body>

</html>