<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modificar persona</title>
    <!-- estilos -->
    <link rel="stylesheet" th:href="@{/styles/back-office.css}">
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu&display=swap" rel="stylesheet">
</head>

<body>

    <header>
        <h2>Modificar persona</h2>
    </header>

    <nav>
        <ul>
            <li><a href="admin">Inicio</a></li>
            <li><a href="adminproyectos">Gestión de Proyectos</a></li>
            <li><a href="adminequipo">Gestión de Equipo</a></li>
        </ul>
    </nav>

    <section class="formulario">
        <form th:action="@{/editarequipo}" method="post" th:object="${persona}">
            <p>
                <label for="nombre">Nombre:</label>
                <input type="text" name="nombre" th:field="*{nombre}" required />
            </p>

            <p>
                <label for="apellidos">Apellidos:</label>
                <input type="text" name="apellidos" th:field="*{apellidos}" required />
            </p>

            <p>
                <label for="resumen">Resumen:</label>
                <input type="text" name="resumen" th:field="*{resumen}" required />
            </p>

            <p>
                <label for="equipofoto">Elija foto:</label>

                <select name="equipofoto" th:field="*{foto}">
                    <option value="http://.....EDU">Eduardo</option>
                    <option value="http://.....Raul">Raul</option>
                    <option value="http://.....Miguel">Miguel</option>
                    <option value="http://.....Maria">Maria</option>
                    <option value="http://.....Anfrei">Andrei</option>

                </select>
            </p>

            <p>
                <label for="cargo">Cargo:</label>
                <select name="cargo" th:field="*{cargo.idcargo}">
                    <option value="1">CEO</option>
                    <option value="2">Gestor de Proyectos</option>
                    <option value="3">Front-End Dev</option>
                    <option value="4">Back-End Dev</option>
                    <option value="5">Sistemas Dev</option>
                    <option value="6">BBDD Dev</option>
                    <option value="7">Junior Dev</option>
                    <option value="8">Contable</option>
                    <option value="9">Administrativo</option>
                </select>
            </p>


            <p><input type="submit" value="Editar" /></p>
        </form>


    </section>

</body>

</html>