<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Equipo | Nexto Market</title>
    <!-- estilos -->
    <link rel="stylesheet" th:href="@{/styles/nav.css}">
    <link rel="stylesheet" th:href="@{/styles/reset.css}">
    <link rel="stylesheet" th:href="@{/styles/equipo.css}">
    <!--fonts-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
</head>

<body>

    <!--HEADER-->

    <header>
        <div class="nombre-empresa">
            <h1>NEXTO MARKET</h1>
        </div>
        <nav class="menu-nav">
            <a href="home.html" class="actual">Home</a>
            <a href="proyectos.html">Proyectos</a>
            <a href="equipo.html">Equipo</a>
            <a href="trabajaConNosotros.html">Trabaja con nosotros</a>
        </nav>
    </header>

    <!--EQUIPO-->

    <section id="equipo">
        <h2>EQUIPO</h2>
        <div class="contenedor-tabla">
            <table>
                <tr>
                    <th>Nombre</th>
                    <th>Apellidos</th>
                    <th>Resumen</th>
                    <th>Foto</th>
                    <th>Cargo</th>
                </tr>
                <tr th:each="persona: ${listarPersonas}">
                    <td th:text="${persona.nombre}" />
                    <td th:text="${persona.apellidos}" />
                    <td th:text="${persona.resumen}" />
                    <td th:text="${persona.foto}" />
                    <td th:text="${persona.cargo}" />
                </tr>
            </table>
        </div>

        <!--
            <img th:src="${equipo.foto}"/ th:alt="${equipo.nombre}"/>
            -->


    </section>
</body>

</html>