<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | Nexto Market</title>
</head>
<body>

    <nav>
        <ul>
            <li><a href="home.html" class="actual">Home</a></li>
            <li><a href="proyectos.html">Proyectos</a></li>
            <li><a href="equipo.html">Equipo</a></li>
            <li><a href="contacto.html">Contacto</a></li>
        </ul>
    </nav>
    
</body>
</html>