<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyectos | Nexto Market</title>
    <!-- estilos -->
    <link rel="stylesheet" href="../static/styles/reset.css">
    <link rel="stylesheet" href="../static/styles/nav.css">
    <link rel="stylesheet" href="../static/styles/proyectos.css">
</head>

<body>

    <nav>
        <ul>
            <li><a href="home.html">Home</a></li>
            <li><a href="proyectos.html" class="actual">Proyectos</a></li>
            <li><a href="equipo.html">Equipo</a></li>
            <li><a href="contacto.html">Contacto</a></li>
        </ul>
    </nav>

    <h2>Proyectos</h2>

    <section id="proyectos">

        <div>
            <p text="${proyectos.proyecto}" />
            <p text="${proyectos.fechafin}" />
            <p text="${proyectos.resumen}" />
            <p text="${proyectos.descripcion}" />
            <img th:src="${proyectos.imagen}"/ th:alt="${proyectos.proyecto}"/>
            <p text="${clientes.nombre}" />
        </div>

    </section>

</body>

</html>