<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyectos | Nexto Market</title>
    <!-- estilos -->
    <link rel="stylesheet" href="../static/styles/reset.css">
    <link rel="stylesheet" href="../static/styles/nav.css">
    <link rel="stylesheet" href="../static/styles/proyectos.css">

    <style>
        img {
            width: 100%;
            height: auto;
        }
    </style>
</head>

<body>

    <nav class="menu-nav">
        <a href="home.html">Home</a>
        <a href="proyectos" class="actual">Proyectos</a>
        <a href="equipo">Equipo</a>
        <a href="contacto.html">Contacto</a>
    </nav>



    <section id="proyectos" class="contenedor-tabla">
        <h2>Proyectos</h2>
        <table>

            <tr>
                <th>Proyecto</th>
                <th>Fecha fin</th>
                <th>Resumen</th>
                <th>Descripciones</th>
                <th>Imagen</th>
                <th>Cliente</th>
            </tr>

           <!--   <tr th:each="proyecto: ${listaProyectos}">

                <td th:text="${proyecto.proyecto}" />
                <td th:text="${proyecto.fechafin}" />
                <td th:text="${proyecto.resumen}" />
                <td th:text="${proyecto.descripcion}" />
                <td><img th:src="${equipo.foto}"/ th:alt="${equipo.nombre}"/></td>
                <td th:text="${proyecto.cliente}" /> 

            </tr> -->

        </table>

    </section>

</body>

</html>