<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyectos | Nexto Market</title>
    <!-- estilos -->
    <link rel="stylesheet" href="../static/styles/reset.css">
    <link rel="stylesheet" href="../static/styles/nav.css">
    <link rel="stylesheet" href="../static/styles/proyectos.css">
</head>

<body>

    <nav>
        <ul>
            <li><a href="home.html">Home</a></li>
            <li><a href="proyectos.html" class="actual">Proyectos</a></li>
            <li><a href="equipo.html">Equipo</a></li>
            <li><a href="contacto.html">Contacto</a></li>
        </ul>
    </nav>

    <h2>Proyectos</h2>

    <section id="proyectos">

        <table>

            <tr>
                <th>Proyecto</th>
                <th>Fecha fin</th>
                <th>Resumen</th>
                <th>Descripciones</th>
                <th>Imagen</th>
                <th>Cliente</th>
            </tr>

            <tr th:each="proyecto: ${listaProyectos}">

                <td th:text="${proyecto.proyecto}" />
                <td th:text="${proyecto.fechafin}" />
                <td th:text="${proyecto.resumen}" />
                <td th:text="${proyecto.descripcion}" />
                <td th:text="${proyecto.imagen}" />
                <td th:text="${proyecto.cliente}" />

            </tr>

        </table>

    </section>

</body>

</html>