<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Añadir nuevo proyecto</title>
    <!-- estilos -->
    <link rel="stylesheet" href="../static/styles/reset.css">
    <link rel="stylesheet" href="../static/styles/nav.css">
    <link rel="stylesheet" href="../static/styles/equipo.css">
</head>

<body>

    <nav class="menu-nav">
        <a href="home.html">Home</a>
        <a href="proyectos">Proyectos</a>
        <a href="equipo" class="actual">Equipo</a>
        <a href="contacto.html">Contacto</a>
    </nav>

    <section>
        <p>Rellena los siguientes campos para guardar un nuevo proyecto :</p>
        <br>
        <br>

    </section>

    <section class="formulario">
        <form action="" method="POST">
        <p>Proyecto: <input type="text" name="proyecto" required></p>
        <p>Fecha Finalización: <input type="date" name="fechafin" required></p>
        <p>Resumen: <input type="text" name="resumen" required></p>
        <p>Descripción: <input type="text" name="descripcion" required></p>
        <p>Imagen: <input type="file" name="archivo" value="image/*" required></p>
        <p>Cliente: <input type="text" name="cliente" required></p>
        <br>
        <p><input type="submit" value="Guardar"></p>
        </form>


    </section>

</body>

</html>