<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Añadir nuevo proyecto</title>
    <!-- estilos -->
    <link rel="stylesheet" href="../static/styles/reset.css">
    <link rel="stylesheet" href="../static/styles/nav.css">
    <link rel="stylesheet" href="../static/styles/equipo.css">
</head>

<body>


    <section>
        <p>Rellena los siguientes campos para guardar un nuevo proyecto :</p>


    </section>

    <section class="formulario">
        <form th:action="@{/addproyecto}"
                method="post" th:object = >
            <p>Proyecto: <input type="text" name="proyecto" required></p>
            <p>Fecha Finalización: <input type="date" name="fechafin" required></p>
            <p>Resumen: <input type="text" name="resumen" required></p>
            <p>Descripción: <input type="text" name="descripcion" required></p>
            <p><label for="proyectoimagen">Elija imagen:</label>
                <select name="proyectoimagen">
                    <option value="http://.....movieflix">MovielFlix</option>
                    <option value="...">Landing Page Nexto Market</option>
                    <option value="http://.....trivialpreguntas">Trivial de Preguntas</option>

                </select></p>
            <p>Cliente: <input type="text" name="cliente" required></p>

            <p><input type="submit" value="Guardar"></p>
        </form>

        <form 
				method="post"
				th:object="${cliente}"
				th:action="@{/addCliente}">
			<table>
				<tr>
					<td><label for="nombre">Nombre</label></td>
					<td><input type="text" th:field="*{nombre}" /></td>
				</tr>
				<tr>
					<td><label for="id">Nombre Usuario</label></td>
					<td><input type="text" th:field="*{id}" /></td>
				</tr>
				<tr>
					<td><label for="password">Contraseña</label></td>
					<td><input type="password" th:field="*{password}" /></td>
				</tr>
			</table>
			<br />
			<p>
				<input type="submit" value="Dar de alta" />
			</p>
		</form>



    </section>

</body>

</html>