<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modificar proyecto</title>
    <!-- estilos -->
    <link rel="stylesheet" th:href="@{/styles/back-office.css}">
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu&display=swap" rel="stylesheet">
</head>

<body>

    <header>
        <h2>Modificar proyecto</h2>
    </header>

    <nav>
        <ul>
            <li><a href="admin">Inicio</a></li>
            <li><a href="adminproyectos">Gestión de Proyectos</a></li>
            <li><a href="adminequipo">Gestión de Equipo</a></li>
        </ul>
    </nav>

    <section class="formulario">
        <form action="" method="POST">
            <p>Proyecto: <input type="text" name="proyecto" required></p>
            <p>Fecha Finalización: <input type="date" name="fechafin" required></p>
            <p>Resumen: <input type="text" name="resumen" required></p>
            <p>Descripción: <input type="text" name="descripcion" required></p>
            <p>Imagen: <input type="file" name="archivo" value="image/*" required></p>
            <p>Cliente: <input type="text" name="cliente" required></p>

            <p><input type="submit" value="Guardar"></p>
        </form>

    </section>

</body>

</html>