<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Equipo | Nexto Market</title>
    <!-- estilos -->
    <link rel="stylesheet" href="../static/styles/reset.css">
    <link rel="stylesheet" href="../static/styles/nav.css">
    <link rel="stylesheet" href="../static/styles/equipo.css">
    <link rel="stylesheet" href="../static/styles/trabajaConNosotros.css">
    <!--fonts-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
</head>

<body>

    <!--HEADER-->

    <header>
        <div class="nombre-empresa">
            <h1>NEXTO MARKET</h1>
        </div>
        <nav class="menu-nav">
            <a href="home.html" class="actual">Home</a>
            <a href="proyectos.html">Proyectos</a>
            <a href="equipo.html">Equipo</a>
            <a href="contacto.html">Contacto</a>
        </nav>
    </header>

    <!--OFERTAS DE TRABAJO-->

    <section class="ofertas-trabajo">
        <h2>OFERTAS DE TRABAJO</h2>
        <div class="contenedor-ofertas-trabajo">
            <div class="oferta">
                <h3>LOREM IPSUM</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aperiam inventore, tenetur voluptatum dolor
                    minus deserunt eligendi molestiae, dolores cum dolorem quos quo similique magni distinctio aut
                    culpa, illum consequuntur ut.</p>
            </div>
            <div class="oferta">
                <h3>LOREM IPSUM</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia officiis commodi laboriosam
                    veritatis laborum beatae mollitia modi sapiente blanditiis, cupiditate, quaerat doloribus deserunt
                    exercitationem in necessitatibus fugiat hic at aperiam!</p>
            </div>
        </div>
    </section>