<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Equipo | Nexto Market</title>
    <!-- estilos -->
    <link rel="stylesheet" th:href="@{/styles/nav.css}">
    <link rel="stylesheet" th:href="@{/styles/reset.css}">
    <link rel="stylesheet" th:href="@{/styles/trabajaConNosotros.css}">
    <!--fonts-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
</head>

<body>

    <!--HEADER-->

    <header>
        <div class="nombre-empresa">
            <h1>NEXTO MARKET</h1>
        </div>
        <nav class="menu-nav">
            <a href="home">Home</a>
            <a href="proyectos">Proyectos</a>
            <a href="equipo">Equipo</a>
            <a href="trabajaConNosotros">Trabaja con nosotros</a>
        </nav>
    </header>

    <!--OFERTAS DE TRABAJO-->

    <section class="ofertas-trabajo">
        <h2>OFERTAS DE TRABAJO</h2>
        <div class="contenedor-ofertas-trabajo">
            <div class="oferta">
                <h3>Programador Frontend - Junior </h3>
                <p>Buscamos programador frontend junior para desarrollo de aplicaciones web.
                    <p>En Nexto Market estamos formando un equipo de exploradores galácticos con mente científica,
                        capaces de adentrarse en lo desconocido para llevar el crecimiento de los productos digitales a
                        una dimensión exponencial. Buscamos al siguiente aventurero: un Frontend developer.</p>
                    <p>Valoramos que domines los fundamentos de Javascript, HTML y CSS.</p>
                    <p>Es imprescindible que te guste trabajar en equipo, que no te de corte pedir ayuda y ofrecerla
                        cuando sea necesario.</p>
                    <p>Por encima de todo, que te guste aprender y que compartas tus conocimientos con los demás.</p>

                    <h4>QUÉ HARÁS</h4>
                    <p>Formarás parte de un equipo multidisciplinar. </p>
                    <p>No te faltarán retos técnicos, pero contarás con el apoyo del equipazo de front de la empresa y
                        de un stack moderno y flexible.</p>

                    <h5>En 1 mes</h5>
                    <p>Conocerás a todos tus compañeros de la empresa, los proyectos, los retos técnicos y de negocio.
                        Habrás podido ver el producto desde dentro y empezar a sumar líneas de código.</p>
                    <h5>En 3 meses</h5>
                    <p>Habrás montado tus primeros componentes y estarán ya en producción.</p>
                    <p>Conocerás el día a día de la empresa, sus dinámicas, empezarás a conocer detalles de sus eventos
                        y habrás completado la formación de Nexto Market.</p>
                    <h5>En 6 meses</h5>
                    <p>Serás una parte importante del equipo, en Nexto Market todos aprenden de todos. Valoramos la
                        experiencia y la opinión de todo el mundo y será una parte importante de tu día a día… Enseñar y
                        aprender.</p>
                    <p>Verás cómo avanza el producto y sabrás que parte de él es tu código ;).</p>

                    <h4>CÓMO LO HARÁS</h4>
                    <p>Somos 100% remotos así que tú eliges desde dónde quieres trabajar, eso sí, codo con codo con el
                        equipo, aportando valor desde el primer día y siempre apoyados en las buenas prácticas, Clean
                        Code, Git-Flow, Code reviews y Pull Request.</p>

                    <h4>QUÉ OFRECEMOS</h4>

                    <p>Salario atractivo.<p>
                            <p>Full remoto y flexibilidad horaria.</p>
                            <p>Acceso a la formación de Nexto Market.</p>
                            <p>Días de descanso, como en tu cumpleaños.</p>
                            <p>Y muchos otros beneficios que descubrirás cuando estés en el equipo ;).</p>


            </div>
            <div class="oferta">
                <h3>Programador Backend - Senior</h3>
                <p>Buscamos programador backend senior para liderar un equipo de desarrollo de aplicaciones web.</p>
                <p>En Nexto Market estamos formando un equipo de exploradores galácticos con mente científica, capaces
                    de adentrarse en lo desconocido para llevar el crecimiento de los productos digitales a una
                    dimensión exponencial. Buscamos al siguiente aventurero: un Backend developer.</p>
                <p>En concreto, queremos incorporar a una persona con conocimientos demostrables en:</p>
                <p>JAVA.</p>
                <p>Spring boot, Spring Data, Spring Security.</p>
                <p>Testing(JUnit y Mockito).</p>
                <p>Microservicios(Docker).</p>
                <p>Bases de datos relacionales y no relacionales (MySQL y MongoDb).</p>
                <p>Valorables conocimientos de AWS.</p>
                <p>Experiencia de 3 a 5 años demostrable.</p>
                <p>Es imprescindible que te guste trabajar en equipo y compartir tus conocimientos con los demás, y que
                    tenga dotes de liderazgo.</p>

                <h4>QUÉ HARÁS</h4>

                <p>Formarás parte de un equipo multidisciplinar. </p>
                <p>No te faltarán retos técnicos, pero contarás con el apoyo del equipazo de front de la empresa y de un
                    stack moderno y flexible.</p>
                <p>También tendrás la oportunidad de emprender dentro de nuestra empresa, ya que tendremos en cuenta tus
                    ideas para desarrollar nuevas aplicaciones que sean innovadoras en el mercado.</p>

                <h5>En 1 mes</h5>
                <p>Conocerás a todos tus compañeros de la empresa, los proyectos, los retos técnicos y de negocio.
                    Habrás podido ver el producto desde dentro y empezar a sumar líneas de código.</p>
                <h5>En 3 meses</h5>
                <p>Habrás montado tus primeros componentes y estarán ya en producción.</p>
                <p>Conocerás el día a día de la empresa, sus dinámicas, empezarás a conocer detalles de sus eventos y
                    habrás completado la formación de Nexto Market.</p>
                <h5>En 6 meses</h5>
                <p>Serás una parte importante del equipo, en Nexto Market todos aprenden de todos. Valoramos la
                    experiencia y la opinión de todo el mundo y será una parte importante de tu día a día… Enseñar y
                    aprender.</p>
                <p>Verás cómo avanza el producto y sabrás que parte de él es tu código ;).</p>

                <h4>CÓMO LO HARÁS</h4>
                <p>Somos 100% remotos así que tú eliges desde dónde quieres trabajar, eso sí, codo con codo con el
                    equipo, aportando valor desde el primer día y siempre apoyados en las buenas prácticas, Clean Code,
                    Git-Flow, Code reviews y Pull Request.</p>

                <h4>QUÉ OFRECEMOS</h4>
                <p>Salario atractivo.<p>
                        <p>Full remoto y flexibilidad horaria.</p>
                        <p>Acceso a la formación de Nexto Market.</p>
                        <p>Días de descanso, como en tu cumpleaños.</p>
                        <p>Y muchos otros beneficios que descubrirás cuando estés en el equipo ;).</p>
            </div>
        </div>
    </section>

    <footer>
        <div class="copyright">
            <p>Copyright &copy; 2021 NextoMarket. All rights reserved.</p>
        </div>
    </footer>