<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gestión de Mensajes</title>
    <!-- estilos -->
    <link rel="stylesheet" th:href="@{/styles/back-office.css}" />
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <header>
      <h2>Gestión de Mensajes</h2>
    </header>

    <nav>
      <ul>
        <li><a href="../admin">Inicio</a></li>
        <li><a href="./proyectos">Gestión de Proyectos</a></li>
        <li><a href="./personas">Gestión de Equipo</a></li>
        <li><a href="./mensajes">Gestión de Mensajes</a></li>
      </ul>
    </nav>

    <section class="tabla">
      <h3>Listado</h3>

      <table>
        <tr>
          <th>id</th>
          <th>from</th>
          <th>fecha</th>
          <th>subject</th>
          <th>mensaje</th>
          <th>¿contestado?</th>
          <th>respuesta</th>
        </tr>

        <tr th:each="mensaje: ${mensajes}">
          <td th:text="${mensaje.idmensaje}" />
          <td th:text="${mensaje.from}" />
          <td th:text="${mensaje.fecha}" />
          <td th:text="${mensaje.subject}" />
          <td th:text="${mensaje.mensaje}" />
          <td th:text="${mensaje.respuesta.length() > 0} ? 'Sí' : 'No'" />

          <td th:text="${mensaje.respuesta}" />
        </tr>
      </table>
    </section>
  </body>
</html>
