<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gestión de Equipo</title>
    <!-- estilos -->
    <link rel="stylesheet" th:href="@{/styles/back-office.css}" />
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <h2>Gestión de Equipo</h2>
    </header>

    <nav>
      <ul>
        <li><a href="../admin">Inicio</a></li>
        <li><a href="./proyectos">Gestión de Proyectos</a></li>
        <li><a href="./personas">Gestión de Equipo</a></li>
        <li><a href="./mensajes">Gestión de Mensajes</a></li>
        <li>
          <span th:inline="text"
            >Hello [[${#httpServletRequest.remoteUser}]]!</span
          >
        </li>
        <li>
          <form id="logout" th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out" />
          </form>
        </li>
      </ul>
    </nav>

    <section class="tabla">
      <h3>Listado</h3>

      <table>
        <tr>
          <th>Nombre</th>
          <th>Apellidos</th>
          <th>Resumen</th>
          <th>Foto</th>
          <th>Cargo</th>
          <th>Acciones</th>
        </tr>

        <tr th:each="persona: ${personas}">
          <td th:text="${persona.nombre}" />
          <td th:text="${persona.apellidos}" />
          <td th:text="${persona.resumen}" />
          <td>
            <img th:src="${persona.foto}" />
          </td>
          <td th:text="${persona.cargo.cargo}" />
          <td>
            <a th:href="@{/admin/personas/{id}(id=${persona.idpersona})}"
              >Modificar</a
            >
            <a th:href="@{/admin/personas/{id}/delete(id=${persona.idpersona})}"
              >Eliminar</a
            >
          </td>
        </tr>
      </table>

      <a href="./persona_create">Añadir nuevo registro</a>
    </section>
  </body>
</html>
