<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Modificar persona</title>
    <!-- estilos -->
    <link rel="stylesheet" th:href="@{/styles/back-office.css}" />
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <header>
      <h2>Modificar persona</h2>
    </header>

    <nav>
      <ul>
        <li><a href="../../admin">Inicio</a></li>
        <li><a href="../proyectos">Gestión de Proyectos</a></li>
        <li><a href="../personas">Gestión de Equipo</a></li>
        <li><a href="../mensajes">Gestión de Mensajes</a></li>
      </ul>
    </nav>

    <section class="formulario">
      <form
        th:action="@{/admin/personas/update}"
        method="post"
        th:object="${persona}"
      >
        <input type="hidden" name="idpersona" th:field="*{idpersona}" />

        <p>
          <label for="nombre">Nombre:</label>
          <input type="text" name="nombre" th:field="*{nombre}" required />
        </p>

        <p>
          <label for="apellidos">Apellidos:</label>
          <input
            type="text"
            name="apellidos"
            th:field="*{apellidos}"
            required
          />
        </p>

        <p>
          <label for="resumen">Resumen:</label>
          <input type="text" name="resumen" th:field="*{resumen}" required />
        </p>

        <p>
          <label for="equipofoto">Elija foto:</label>

          <select name="equipofoto" th:field="*{foto}">
            <option
              value="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7c/User_font_awesome.svg/2048px-User_font_awesome.svg.png"
            >
              Foto por defecto
            </option>
          </select>
        </p>

        <p>
          <label for="cargo">Cargo:</label>
          <select name="cargo" th:field="*{cargo.idcargo}">
            <option
              th:each="cargo: ${cargos}"
              th:value="${cargo.idcargo}"
              th:text="${cargo.cargo}"
            ></option>
          </select>
        </p>

        <p><input type="submit" value="Editar" /></p>
      </form>
    </section>
  </body>
</html>
