.nombre-empresa{
    display: flex;
    width:100%;

    justify-content: center;
    align-items: center;
 
    padding: 10px;
    margin: auto;

    background-color: #eeeeee;

}

h1{
    font-family: 'Oswald', sans-serif;
    color:#05476d;
    font-size: 3rem;
}

.menu-nav{
    background-color: #eeeeee;
}

.banner{
    height:40rem;
    background-image: url(../img/imagen_header.jpg);
    background-size: cover;
}

/* MQ MOBILE */
@media (max-width: 687px) {
    
}

/* MQ TABLET */
@media (min-width: 688px) and (max-width: 992px) {
  
}

/* MQ PC */
@media (min-width: 993px) {
  
}

/* MQ XL screens */
@media (min-width: 1312px) {
    
}