.menu-nav {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: auto;

    padding: 10px;

    align-items: center;
    align-content: space-around;
    justify-content: center;
}

.menu-nav a {
    text-decoration: none;
    color: rgb(32, 32, 32);
    padding: 10px;
    font-family: 'Oswald', sans-serif;
    font-size: 1.2rem;
}

.menu-nav a:hover {
    color: rgb(32, 148, 163);
    transition: 0.3s;
}

/* MQ MOBILE */
@media (max-width: 687px) {}

/* MQ TABLET */
@media (min-width: 688px) and (max-width: 992px) {}

/* MQ PC */
@media (min-width: 993px) {}

/* MQ XL screens */
@media (min-width: 1312px) {}