.contenedor-tabla{
    display: flex;
    flex-wrap: wrap;
    
    align-content: center;
    justify-content: center;

    margin: auto;
}

/* MQ MOBILE */
@media (max-width: 687px) {
    
}

/* MQ TABLET */
@media (min-width: 688px) and (max-width: 992px) {
  
}

/* MQ PC */
@media (min-width: 993px) {
  
}

/* MQ XL screens */
@media (min-width: 1312px) {
    
}