* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #eeeeee;
}

.nombre-empresa {
    display: flex;
    width: 100%;

    justify-content: center;
    align-items: center;

    padding: 10px;
    margin: auto;
}

h1 {
    font-family: 'Oswald', sans-serif;
    color: #05476d;
    font-size: 3rem;
}

h2 {
    font-family: 'Oswald', sans-serif;
    color: #05476d;
    font-size: 2rem;
    text-align: center;
}

h3 {
    font-family: 'Oswald', sans-serif;
    color: #05476d;
    font-size: 1.6rem;
}

h4 {
    font-family: 'Oswald', sans-serif;
    color: #05476d;
    font-size: 1.2rem;
}

h5 {
    font-family: 'Oswald', sans-serif;
    color: #69056d;
    font-size: 1rem;
}

p,
a,
th,
li {
    font-family: 'Roboto', sans-serif;
    color: rgb(32, 32, 32);
    font-size: 1rem;
    font-weight: bold;
    text-align: justify;
}

.copyright {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #05476d;

    border-top: #eeeeee solid 1px;
    margin: auto;

    width: 100%;

    justify-content: center;
    align-content: center;

    padding: 0.8rem;
}

.copyright p {
    color: #eeeeee;
}

/*

VARIABLES PARA COLORES/TAMAÑOS

:root {
    --nombreVariable: valor;
    
    --blanco: #fff;

    --grande: 4rem;
}

LLAMADA A VARIABLES

selector {
    propiedad: var(--nombreVariable);
    font-size: var(--grande);
}

*/

/* media queries reference */

/* MQ MOBILE */
@media (max-width: 687px) {}

/* MQ TABLET */
@media (min-width: 688px) and (max-width: 992px) {}

/* MQ PC */
@media (min-width: 993px) {}

/* MQ XL screens */
@media (min-width: 1312px) {}