* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.menu-nav{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: auto;

    padding: 10px;

    align-items: center;
    align-content: space-around;
    justify-content: center;
}

#menu-nav a{
    text-decoration: none;
    color: rgb(32, 32, 32);
    padding: 10px;
}

#menu-nav a:hover{
    color: rgb(32, 148, 163);
}

.contenedor-tabla{
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: auto;

    padding: 10px;

    justify-content: center;
    align-items: center;
}

#equipo h2{
    color: rgb(32, 32, 32);
    padding: 10px;
}

th{
    color: rgb(32, 32, 32);
    padding: 10px;
}

/*

VARIABLES PARA COLORES/TAMAÑOS

:root {
    --nombreVariable: valor;
    
    --blanco: #fff;

    --grande: 4rem;
}

LLAMADA A VARIABLES

selector {
    propiedad: var(--nombreVariable);
    font-size: var(--grande);
}

*/

/* media queries reference */

/* MQ MOBILE */
@media (max-width: 687px) {
    
}

/* MQ TABLET */
@media (min-width: 688px) and (max-width: 992px) {
  
}

/* MQ PC */
@media (min-width: 993px) {
  
}

/* MQ XL screens */
@media (min-width: 1312px) {
    
}