.ofertas-trabajo {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    width: 100%;
    background-color: #05476d;
    margin: auto;
}

.ofertas-trabajo h2 {
    color: #eeeeee;
    padding: 2rem 0rem;
}

.contenedor-ofertas-trabajo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    width: 80%;


    align-content: center;
    justify-content: center;

    margin: auto;
}

.oferta {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    justify-content: center;

    width: 80%;

    background-color: #eeeeee;

    padding: 2rem;

    margin: 0rem 0rem 3rem 0rem;
}

.oferta h3,
h4,
h5 {
    text-align: center;
    padding: 1rem;
}

.oferta p {
    text-align: justify;
    padding: 0.2rem;
}